#slider {
margin:0;
padding:0;
list-style:none;
position:relative;
background-image:url(../images/slider_bg.png);
background-repeat:no-repeat;
background-position:bottom center;
}

#slider ul, #slider li {
margin:0;
padding:0;
list-style:none;
position:relative;
overflow:hidden;
}

.slider_text{
position:absolute;
top:10%;
left:5%;
background:url(../images/slider_text_bg.png);
background-repeat:repeat;
padding:10px 10px 10px 10px;
width:400px;
color:#fff;
}

.slider_text h3{
color:#fff;
padding-bottom:0px;
}


#slider, #slider li {
width:805px;
overflow:hidden;


}

#slider_wrapper span.controls{
padding:5px;
float:left;
}
#slider_wrapper{
position:relative;
margin-bottom:20px;



}

#slider_wrapper ol {
margin:1em 0;
padding:0;
margin:0px auto;
padding-top:40px;
margin-bottom:20px;
text-align:center;
position: absolute;
bottom:-14px;
right:-46px;
}

#slider_wrapper ol li {
margin:0 10px 0 0;
padding:0;
list-style:none;
height:28px;
line-height:28px;
}

#slider_wrapper ol li a {
float:left;
height:28px;
background:url(../images/sudo_slider_nav_bullets.png);
background-repeat:no-repeat;
height:27px;
width:27px;
color:#555;
text-align:center;
text-indent:-99999px;
}

#slider_wrapper ol li.current a {
background:url(../images/sudo_slider_nav_bullets_active.png);
background-repeat:no-repeat;
height:27px;
width:27px;
color:#fff;
}
#slider_wrapper ol li a:focus, .prevBtn a:focus, .nextBtn a:focus {
outline:none;
}


.slider_inner_container{
display:block;
}


.text_container{
padding:20px;
width:770px;
background-color:#eee;
}

.text_container_full{
text-align:center;
padding:20px;
width:770px;
background-color:#eee;
}

.text_container_full em{
border-bottom: 1px solid #9A9389;
border-top: 1px solid #9A9389;
color: #363436;
display: inline-block;
font-size: 17px;
font-style: normal;
font-weight: bold;
line-height: 17px;
padding: 2px 0;
margin:0px 0px 10px 0px;
}

.text_container_full h1,.text_container_full h3{
color:#414C5C;
font-weight:bold;
}

/* // circular Slider */

#slider_2_container{
position:relative;

}

#slider_2 {
overflow:hidden;
}


#slider_2 ul{
margin:0;
padding:0;
list-style:none;
position:relative;
width:805px;
}


#slider_2 ul, #slider_2 li {
margin:0;
padding:0;
list-style:none;
position:relative;
display:block;
float:left;	
width:207px;
}

#slider_2_container{
position:relative;
}

#slider_2_container span#controls {
display:block;
position:absolute;
top:0px;
text-indent:-99999px;
}

#slider_2_container .prevBtn {
left:-32px;
top:60px;
background: url(../images/prev.png) no-repeat 0 0;
position: absolute;
width:24px;
height:24px;
cursor:pointer;
}

#slider_2_container a.prevBtn:hover{
background-position: left -25px;
}

#slider_2_container .nextBtn {
background:url(../images/next.png) no-repeat 0 0;
left:820px;
top:60px;
position: absolute;
width:24px;
height:24px;
cursor:pointer;
}

#slider_2_container a.nextBtn:hover{
background-position: left -25px;
}

/* // slider_3  */
#slider_3 ul, #slider_3 li{
margin:0;
padding:0;
list-style:none;
position:relative;
display:block;
float:left;	
overflow:hidden;
}


#slider_3, #slider_3 li {
width:205px;
overflow:hidden;
height:154px;
}
#slider_3, #slider_3 li img {
margin:0px;
}

#latest_projects{
position:relative;
}

#latest_projects span#controls
{
display:block;
position:absolute;
top:0px;
text-indent:-99999px;
width:100%;
}

#latest_projects a.nextBtn{
position: absolute;
top:65px;
right:-25px;
width: 24px;
height: 24px;
cursor: pointer;
background:url(../images/next.png) no-repeat 0 0;
}

#latest_projects a.nextBtn:hover{
background-position: left -25px;
}

#latest_projects a.prevBtn{
position: absolute;
top:65px;
left:-15px;
width: 24px;
height: 24px;
cursor: pointer;
background:url(../images/prev.png) no-repeat 0 0;
}

#latest_projects a.prevBtn:hover{
background-position: left -25px;
}

/* // #testimonials  */
#testimonials ul, #testimonials li{
margin:0;
padding:0;
list-style:none;
position:relative;
display:block;
float:left;
font-style:italic;
}


#testimonials, #testimonials li {
width:205px;
overflow:hidden;
margin-bottom:20px;
}


#testimonials_container{
position:relative;
}

#testimonials_container span#controls
{
display:block;
position:absolute;
bottom:-10px;
left:200px;
text-indent:-99999px;
}

#testimonials_container a.nextBtn{
position: absolute;
top:0px;
right: 0px;
width: 24px;
height: 24px;
cursor: pointer;
background:url(../images/next.png) no-repeat 0 0;
}

#testimonials_container a.nextBtn:hover{
background-position: left -25px;
}

#testimonials_container a.prevBtn{
position: absolute;
top:0px;
right:20px;
left:-60px;
width: 24px;
height: 24px;
cursor: pointer;
background:url(../images/prev.png) no-repeat 0 0;
}

#testimonials_container a.prevBtn:hover{
background-position: left -25px;
}

