<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Denizen</title>
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<link href="css/slidemenu.css" rel="stylesheet" type="text/css" />
<link href="css/sudo_slider.css" rel="stylesheet" type="text/css" />
<link href="css/tab.css" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.6.4.js"></script>
<script type="text/javascript" src="js/jquery.tabify.js"></script>
<script type="text/javascript" src="js/jquery.sudoSlider.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'/>
</head>
<body>
<div id="container"><!-- start container -->

<div class="one_fourth">
	<!-- start Left Sidebar -->
	<div class="sidebar">
    	<h1 class="logo"><a href="index.html"><img src="images/logo.png" alt="logo" /></a></h1>
        <div class="sidebarmenu">
           <ul id="sidebarmenu1">
                    <li><a href="index.html">Главная<span>The Frontpage</span></a></li>
                    <li><a href="about.html" class="active">About Us<span>A brief Description</span></a></li>
                    <li><a href="portfolio.html">Portfolio<span>Our Latest Projects.</span></a>
                        <ul>
                            <li><a href="portfolio_1.html">Portfolio 1</a></li>
                            <li><a href="portfolio_2.html">Portfolio 2</a></li>
                            <li><a href="portfolio_3.html">Portfolio 3</a></li>
                            <li><a href="portfolio_sort.html">Portfolio sort</a></li>
                        </ul>
                    </li>
                    <li><a href="gallery.html">Gallery<span>Project Showcase</span></a></li>
                    <li><a href="blog.html">Blogs<span>Where you can discuss</span></a></li>
                    <li><a href="contact.html">Contact Us <span>Get in Touch</span> </a></li>
                </ul>
        </div>
        
        <div id="social_icons">
            <h5>Connect With Us</h5>
            <ul>
            	<li><a href="#"><img src="images/rss-icon.png" alt="img"/></a></li>
                <li><a href="#"><img src="images/flickr-icon.png" alt="img" /></a></li>
                <li><a href="#"><img src="images/facebook-icon.png" alt="img" /></a></li>
                <li><a href="#"><img src="images/twitter-icon.png" alt="img" /></a></li>
            </ul>
        </div>
        
        <form id="search_form"  method="get" action="">
            <fieldset>
            <input type="text" name="search" id="search"/>
            <a id="send_button" href="#">Go </a>
            </fieldset>
        </form>
        <p class="copy"> &copy; Copyright 2011-2012 denizen.com</p>
    </div>
	<!-- End Left Sidebar -->    
</div>

 <!-- start content sectin -->
<div class="three_fourth_last">
    <div class="content">    
         <!-- Page Title -->
            <div class="pagetitle">                
                <div class="sub_title">
                    <h2>About DeniZen</h2>
                </div>
                <div class="pagetitle_description"><p>Here you can add your page title description, turpis eleifend placerat congue.</p></div>
            </div>
            <!-- Page Title end -->
        
        <div class="two_third">
        	<img src="images/about_us_img.png" alt="img" class="img_border" />
            <p>Morbi lorem lacus, cursus sit amet consequat in, sodales sed massa. 
            Nullam in ullamcorper arcu. Maecenas enim sem, rutrum nec varius lobortis, 
            fermentum vestibulum neque. Praesent molestie, turpis eleifend placerat congue, 
            justo diam pretium metus, laoreet sagittis sapien enim sed ante. Maecenas a augue 
            lacus, id condimentum urna. Donec non porta sapien.</p>
            
            <div class="v_space"></div>
            
            <h3>Services We Provide</h3> <hr />
            <h3 class="drop_cap thumb">1</h3>
            <div class="description">
                <h3>Webdesign and Development</h3>
                Praesent molestie Morbi lorem lacus, cursus sit amet consequat in, sodales sed massa. 
                Nullam in ullamcorper arcu. Maecenas enim sem, rutrum nec varius lobortis, 
                fermentum vestibulum neque. turpis eleifend placerat congue, 
                justo diam pretium metus, laoreet sagittis sapien enim sed ante. Maecenas a augue 
                lacus, id condimentum urna. Donec non porta sapien.
            </div>
            
            <div class="v_space"></div>
            
            <h3 class="drop_cap thumb">2</h3>
            <div class="description">
                <h3>Online Marketing</h3>
                Donec non porta sapien. Morbi lorem lacus, cursus sit amet consequat in, sodales sed massa. 
                Nullam in ullamcorper arcu. Maecenas enim sem, rutrum nec varius lobortis, 
                fermentum vestibulum neque. Praesent molestie, turpis eleifend placerat congue, 
                justo diam pretium metus, laoreet sagittis sapien enim sed ante. Maecenas a augue 
                lacus, id condimentum urna.
            </div>
            
            <div class="v_space"></div>
            
            <h3 class="drop_cap thumb">3</h3>
            <div class="description">
                <h3>Turnkey Businesses</h3>
                Morbi lorem lacus, cursus sit amet consequat in, sodales sed massa. 
                Nullam in ullamcorper arcu. Maecenas enim sem, rutrum nec varius lobortis, 
                fermentum vestibulum neque. Praesent molestie, turpis eleifend placerat congue, 
                justo diam pretium metus, laoreet sagittis sapien enim sed ante. Maecenas a augue 
                lacus, id condimentum urna. Donec non porta sapien.
            </div>
        </div>
        <!--  Right Sidebar -->    
       	<div class="one_third_last">
        		<h3>Latest News</h3><!-- Start Latest News -->
        		<div class="widget-container">
        			<ul class="blockquote_list">
                    	<li>
                        	<img src="images/tab_img_1.png" alt="img" class="img_border thumb" />
                            <div class="description">
                            	<strong class="news_headline">
                                Nullam in ullamcorper arcu. Maecenas enim sem
                                <span class="news_time">June 19, 2010, 5:53 pm</span>
                                </strong>
                            </div>
                        </li>
                        <li>
                        	<img src="images/tab_img_2.png" alt="img" class="img_border thumb" />
                            <div class="description">
                            	<strong class="news_headline">
                                Morbi lorem lacus, cursus sit amet consequat
                                <span class="news_time">Jully 1, 2010, 6:03 pm</span>
                                </strong>
                            </div>
                        </li>
                        <li>
                            <img src="images/tab_img_3.png" alt="img" class="img_border thumb" />
                            <div class="description">
                            	<strong class="news_headline">
                                 Consequat lorem lacus, cursus sit amet
                                <span class="news_time">Aug 5, 2010, 11:53 am</span>
                                </strong>
                            </div>
                        </li>
                    </ul>
                </div><!-- End Latest News -->
                
              	<div class="v_space"></div>
                
                <h3>Latest Projects</h3>
                <div class="widget-container">
                	<div id="latest_projects">
                        <div id="slider_3">
                            <ul>
                                <li><img src="images/latest_project_img_1.png" alt="img" class="img_border"  /></li>
                                <li><img src="images/latest_project_img_2.png" alt="img" class="img_border"  /></li>
                                <li><img src="images/latest_project_img_3.png" alt="img" class="img_border"  /></li>
                                <li><img src="images/latest_project_img_4.png" alt="img" class="img_border"  /></li>
                                <li><img src="images/latest_project_img_5.png" alt="img" class="img_border"  /></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="v_space"></div>
                
                <h3>Client Testimonial</h3>
                <div class="widget-container">
                	<div id="testimonials_container">
                	
                        <div id="testimonials">
                            <ul>
                                <li>
                                    <img src="images/tab_img_1.png" alt="img" class="img_border alignleft" />
                                    <p>&#8220;Morbi egestas magna pretium leo pharetra dapibus. 
                                    Fusce vel interdum diam. Aenean tincidunt fermentum volutpat. 
                                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae&#8221;<br />
                                    <strong>&#8212; John Deo</strong>
                                    </p>
                                </li>
                                <li>
                                    <img src="images/tab_img_2.png" alt="img" class="img_border alignleft" />
                                    <p>&#8220;Duis elementum, mi eu ullamcorper elementum, risus eros pulvinar metus 
                                    tincidunt luctus ligula dolor id turpis. Sed quis odio neque, vel pretium metus.&#8221;<br />
                                    <strong>&#8212; John Deo</strong>
                                    </p>
                                </li>
                                <li>
                                    <img src="images/tab_img_3.png" alt="img" class="img_border alignleft" />
                                    <p>&#8220;Nullam in ullamcorper arcu. Maecenas enim sem, rutrum nec varius 
                                    lobortisPellentesque dolor eros eleifend a pulvinar non ornare non justo. 
                                    Praesent fringilla velit quis nisi interdum pretium id eu urna. Cras ut orci 
                                    sed turpis sodales dignissim.&#8221;<br />
                                    <strong>&#8212; John Deo</strong>
                                    </p>
                                </li>
                                <li>
                                    <img src="images/tab_img_4.png" alt="img" class="img_border alignleft" />
                                    <p>&#8220;Nunc bibendum varius iaculis. Mauris eu tortor porttitor nibh pulvinar adipiscing. 
                                    Morbi eu ipsum nulla, sit amet porta arcu. Vestibulum ante ipsum primis in faucibus&#8221;<br />
                                    <strong>&#8212; John Deo</strong>
                                    </p>
                                </li>
                                <li>
                                    <img src="images/tab_img_5.png" alt="img" class="img_border alignleft" />
                                    <p>&#8220;Aenean tincidunt mauris sed sem volutpat elementum. Donec bibendum, 
                                    purus nec ullamcorper tincidunt, dui leo mattis augue, eu mattis sem felis quis est.&#8221;<br />
                                    <strong>&#8212; John Deo</strong>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
          
                </div>
                <!-- End Right Sidebar -->  
        </div>
     </div><!-- end content -->
</div>
</div><!-- end container -->
</body>
</html>