<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Denizen</title>
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<link href="css/slidemenu.css" rel="stylesheet" type="text/css" />
<link href="css/tab.css" rel="stylesheet" type="text/css" />
<link href="css/sudo_slider.css" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.6.4.js"></script>
<script type="text/javascript" src="js/jquery.tabify.js"></script>
<script type="text/javascript" src="js/jquery.sudoSlider.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'/>
</head>
<body>
<div id="container">
    <!-- start container -->
    <div class="one_fourth">
        <div class="sidebar">
            <!-- start sidebar -->
            <h1 class="logo"><a href="index.html"><img src="images/logo.png" alt="logo" /></a></h1>
            <div class="sidebarmenu">
                <ul id="sidebarmenu1">
                    <li><a href="index.html">Home<span>The Frontpage</span></a></li>
                    <li><a href="about.html">About Us<span>A brief Description</span></a></li>
                    <li><a href="portfolio.html">Portfolio<span>Our Latest Projects.</span></a>
                        <ul>
                            <li><a href="portfolio_1.html">Portfolio 1</a></li>
                            <li><a href="portfolio_2.html">Portfolio 2</a></li>
                            <li><a href="portfolio_3.html">Portfolio 3</a></li>
                            <li><a href="portfolio_sort.html">Portfolio sort</a></li>
                        </ul>
                    </li>
                    <li><a href="gallery.html">Gallery<span>Project Showcase</span></a></li>
                    <li><a href="blog.html" class="active">Blogs<span>Where you can discuss</span></a></li>
                    <li><a href="contact.html">Contact Us <span>Get in Touch</span> </a></li>
                </ul>
            </div>
            <div id="social_icons">
                <h5>Connect With Us</h5>
                <ul>
                    <li><a href="#"><img src="images/rss-icon.png" alt="img"/></a></li>
                    <li><a href="#"><img src="images/flickr-icon.png" alt="img" /></a></li>
                    <li><a href="#"><img src="images/facebook-icon.png" alt="img" /></a></li>
                    <li><a href="#"><img src="images/twitter-icon.png" alt="img" /></a></li>
                </ul>
            </div>
            <form id="search_form"  method="get" action="">
                <fieldset>
                <input type="text" name="search" id="search"/>
                <a id="send_button" href="#">Go </a>
                </fieldset>
            </form>
            <p class="copy"> &copy; Copyright 2011-2012 denizen.com</p>
        </div>
        <!-- end sidebar -->
    </div>
     <!-- start content sectin -->
    <div class="three_fourth_last">
        <div class="content">
             <!-- Page Title -->
            <div class="pagetitle">
                <div class="sub_title">
                    <h2>Blog</h2>
                </div>
                <div class="pagetitle_description"><p>Here you can add your page title description, turpis eleifend placerat.</p></div>
            </div>
            <!-- Page Title end -->
            <div class="two_third">
                <h3>Morbi tempor sem</h3>
                <!-- start blog -->
                <img src="images/blog_img_1.png" alt="img" class="img_border" /><br />
                <br />
                <div class="one_fourth">
                    <div class="entry_date"> <span class="date">Aug <em>24</em></span> <span class="year">2011</span> </div>
                    <div class="meta_info"> <span class="comments">3 Comments</span> <span class="admin"> By Admin </span> <span class="tag"> Tags:<br /> <a rel="tag" href="#">europe</a> &#8218; <a rel="tag" href="#">model</a> </span> </div>
                </div>
                <div class="three_fourth_last">
                    <p>Quam ipsum dolor sit amet, consectetur adipiscing elit. 
                        Morbi tempor sem et lacus placerat at auctor diam ornare. 
                        Ut nec erat ut metus sagittis tristique eget vel turpis. 
                        Maecenas nec eleifend arcu. Praesent sapien rutrum 
                        vel cursus viverra, vestibulum quis mi. Vestibulum ante 
                        ipsum primis in faucibus orci luctus et ultrices posuere 
                        cubilia Curae; Integer laoreet sapien non nulla commodo mollis. 
                        Mauris in placerat lacus. Aenean non porttitor elit. Morbi 
                        lorem lacus, cursus sit amet consequat in, sodales sed massa. 
                        Nullam in ullamcorper arcu. Maecenas enim sem, rutrum nec 
                        varius lobortis, fermentum vestibulum neque. Praesent molestie, 
                        turpis eleifend placerat congue, justo diam pretium metus, laoreet 
                        sagittis sapien enim sed ante. Maecenas a augue lacus, id condimentum 
                        urna. Donec non porta sapien.</p>
                    <div class="readmore"><a href="#">Read More<span></span></a></div>
                </div>
                <!-- end blog -->
                <div class="v_space"></div>
                <h3>Ipsum dolor sit amet</h3>
                <!-- start blog -->
                <img src="images/blog_img_2.png" alt="img" class="img_border" /><br />
                <br />
                <div class="one_fourth">
                    <div class="entry_date"> <span class="date">Sep 5</span> <span class="year">2011</span> </div>
                    <div class="meta_info"> <span class="comments">3 Comments</span> <span class="admin"> Posted by: Admin </span> <span class="tag"> Tags: <br /><a rel="tag" href="#">Model</a> &#8218; <a rel="tag" href="#">Fashion</a> </span> </div>
                </div>
                <div class="three_fourth_last">
                    <p>Sapien enim sed ante consectetur adipiscing elit. 
                        Morbi tempor sem et lacus placerat at auctor diam ornare. 
                        Ut nec erat ut metus sagittis tristique eget vel turpis. 
                        Maecenas nec eleifend arcu. Praesent sapien quam, rutrum 
                        vel cursus viverra, vestibulum quis mi. Vestibulum ante 
                        ipsum primis in faucibus orci luctus et ultrices posuere 
                        cubilia Curae; Integer laoreet sapien non nulla commodo mollis. 
                        Mauris in placerat lacus. Aenean non porttitor elit. Morbi 
                        lorem lacus, cursus sit amet consequat in, sodales sed massa. 
                        Nullam in ullamcorper arcu. Maecenas enim sem, rutrum nec 
                        varius lobortis, fermentum vestibulum neque. Praesent molestie, 
                        turpis eleifend placerat congue laoreet 
                        sagittis. Maecenas a augue lacus, id condimentum 
                        urna. Donec non porta sapien justo diam pretium metus.</p>
                    <div class="readmore"><a href="#">Read More<span></span></a></div>
                </div>
                <!-- end blog -->
                <div class="v_space"></div>
                <h3>Placerat at auctor diam</h3>
                <!-- start blog -->
                <img src="images/blog_img_3.png" alt="img" class="img_border" /><br />
                <br />
                <div class="one_fourth">
                    <div class="entry_date"> <span class="date">Oct 9</span> <span class="year">2011</span> </div>
                    <div class="meta_info"> <span class="comments">3 Comments</span> <span class="admin"> Posted by: Admin </span> <span class="tag"> Tags: <br /><a rel="tag" href="#">europe</a> &#8218; <a rel="tag" href="#">model</a> </span> </div>
                </div>
                <div class="three_fourth_last">
                    <p>Maecenas a augue lacus consectetur adipiscing elit. 
                        Morbi tempor sem et lacus placerat at auctor diam ornare. 
                        Ut nec erat ut metus sagittis tristique eget vel turpis. 
                        Maecenas nec eleifend arcu. Praesent sapien quam, rutrum 
                        vel cursus viverra, vestibulum quis mi. Vestibulum ante 
                        ipsum primis in faucibus orci luctus et ultrices posuere 
                        cubilia Curae; Integer laoreet sapien non nulla commodo mollis. 
                        Mauris in placerat lacus. Aenean non porttitor elit. Morbi 
                        lorem lacus, cursus sit amet consequat in, sodales sed massa. 
                        Nullam in ullamcorper arcu. Maecenas enim sem, rutrum nec 
                        varius lobortis, fermentum vestibulum neque. Praesent molestie, 
                        turpis eleifend placerat congue, justo diam pretium metus, laoreet 
                        sagittis sapien enim sed ante.id  
                        urna. Donec non porta sapien condimentum.</p>
                    <div class="readmore"><a href="#">Read More<span></span></a></div>
                </div>
                <!-- end blog -->
                <div class="v_space"></div>
                <h3>Auctor diam ornare</h3>
                <!-- start blog -->
                <img src="images/blog_img_4.png" alt="img" class="img_border" /><br />
                <br />
                <div class="one_fourth">
                    <div class="entry_date"> <span class="date">Nov 4</span> <span class="year">2011</span> </div>
                    <div class="meta_info"> <span class="comments">3 Comments</span> <span class="admin"> Posted by: Admin </span> <span class="tag"> Tags: <br /><a rel="tag" href="#">europe</a> &#8218; <a rel="tag" href="#">model</a></span> </div>
                </div>
                <div class="three_fourth_last">
                    <p>Fermentum vestibulum sit amet, consectetur adipiscing elit. 
                        Morbi tempor sem et lacus placerat at auctor diam ornare. 
                        Ut nec erat ut metus sagittis tristique eget vel turpis. 
                        Maecenas nec eleifend arcu. Praesent sapien quam, rutrum 
                        vel cursus viverra, vestibulum quis mi. Vestibulum ante 
                        ipsum primis in faucibus orci luctus et ultrices posuere 
                        cubilia Curae; Integer laoreet sapien non nulla commodo mollis. 
                        Mauris in placerat lacus. Aenean non porttitor elit. Morbi 
                        lorem lacus, cursus sit amet consequat in, sodales sed massa. 
                        Nullam in ullamcorper arcu. Maecenas enim sem, rutrum nec 
                        varius lobortis, neque. Praesent molestie, 
                        turpis eleifend placerat congue, justo diam pretium metus, laoreet 
                        sagittis sapien enim sed ante. Maecenas a lacus, id condimentum 
                        urna. Donec non porta sapien augue.</p>
                    <div class="readmore"><a href="#">Read More<span></span></a></div>
                </div>
                <!-- end blog -->
            </div>
            <!-- ----------------- Right Sidebar --------------------  -->
            <div class="one_third_last">
                <h3>Categories</h3>
                <!-- Start Popular Posts -->
                <div class="widget-container">
                    <ul class="archives_list">
                        <li> <a href="#"> Web Design </a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Recent Projects</a></li>
                        <li><a href="#">Buisness Techinques</a></li>
                        <li><a href="#">Team Work</a></li>
                    </ul>
                </div>
                <!-- End Popular Posts -->
                <div class="v_space"></div>
                <h3>Tab Widget</h3>
                <!-- Start Tab Widget -->
                <div class="widget-container">
                    <ul id="menu" class="menu">
                        <li class="active"><a href="#description">Popular</a></li>
                        <li><a href="#usage">Recent</a></li>
                        <li><a href="#download">Comments</a></li>
                    </ul>
                    <div id="description" class="tab_content">
                        <ul class="tab_list">
                            <li> <img src="images/tab_img_4.png" alt="img" class="img_border thumb" />
                                <div class="description"> <strong class="news_headline"> Mauris in placerat lacus. Aenean non porttitor elit. <span class="news_time">Jan 1, 2010, 1:03 am</span> </strong> </div>
                            </li>
                            <li> <img src="images/tab_img_5.png" alt="img" class="img_border thumb" />
                                <div class="description"> <strong class="news_headline"> Nullam in ullamcorper arcu. Maecenas enim sem. <span class="news_time">Mar 10, 2010, 6:03 pm</span> </strong> </div>
                            </li>
                            <li> <img src="images/tab_img_6.png" alt="img" class="img_border thumb" />
                                <div class="description"> <strong class="news_headline"> Maecenas a augue lacus, id condimentum urna. <span class="news_time">April 9, 2010, 9:03 pm</span> </strong> </div>
                            </li>
                        </ul>
                    </div>
                    <div id="usage" class="tab_content">
                        <ul class="tab_list">
                            <li> <img src="images/tab_img_7.png" alt="img" class="img_border thumb" />
                                <div class="description"> <strong class="news_headline"> Quisque id tortor non tellus pellentesque pretium. <span class="news_time">May 11, 2010, 11:03 pm</span> </strong> </div>
                            </li>
                            <li> <img src="images/tab_img_8.png" alt="img" class="img_border thumb" />
                                <div class="description"> <strong class="news_headline"> Pellentesque euismod, tortor in accumsan ultrices. <span class="news_time">Jun 5, 2010, 1:03 pm</span> </strong> </div>
                            </li>
                            <li> <img src="images/tab_img_9.png" alt="img" class="img_border thumb" />
                                <div class="description"> <strong class="news_headline"> Donec euismod, ante eget sodales congue, risus neque. <span class="news_time">Jul 7, 2010, 3:03 pm</span> </strong> </div>
                            </li>
                        </ul>
                    </div>
                    <div id="download" class="tab_content">
                        <ul class="tab_list">
                            <li> <img src="images/tab_img_10.png" alt="img" class="img_border thumb" />
                                <div class="description"> <strong class="news_headline"> Duis elementum, mi eu ullamcorper elementum, risus eros. <span class="news_time">Aug 19, 2010, 6:03 pm</span> </strong> </div>
                            </li>
                            <li> <img src="images/tab_img_11.png" alt="img" class="img_border thumb" />
                                <div class="description"> <strong class="news_headline"> In varius odio sit amet dolor blandit vel urna scelerisque. <span class="news_time">Sep 14, 2010, 6:03 pm</span> </strong> </div>
                            </li>
                            <li> <img src="images/tab_img_12.png" alt="img" class="img_border thumb" />
                                <div class="description"> <strong class="news_headline"> Aenean tincidunt mauris sed sem volutpat elementum. <span class="news_time">Oct 21, 2010, 7:03 pm</span> </strong> </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Tab Widget -->
                <div class="v_space"></div>
                <h3>Flickr Images</h3>
                <!-- Start Flickr Images -->
                <div class="widget-container">
                    <div class="flickr_images"> <img src="images/tab_img_1.png" alt="img" class="img_border" /> <img src="images/tab_img_2.png" alt="img" class="img_border" /> <img src="images/tab_img_3.png" alt="img" class="img_border" /> <img src="images/tab_img_4.png" alt="img" class="img_border" /> <img src="images/tab_img_5.png" alt="img" class="img_border" /> <img src="images/tab_img_6.png" alt="img" class="img_border" /> <img src="images/tab_img_13.png" alt="img" class="img_border" /> <img src="images/tab_img_14.png" alt="img" class="img_border" /> <img src="images/tab_img_7.png" alt="img" class="img_border" /> </div>
                </div>
                <!-- End Flickr Images -->
            </div>
            <!-- ----------------- Right Sidebar --------------------  -->
        </div>
        <!-- end content -->
    </div>
</div>
<!-- end container -->
</body>
</html>
