<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Denizen</title>
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<link href="css/slidemenu.css" rel="stylesheet" type="text/css" />
<link href="css/tab.css" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.6.4.js"></script>
<script type="text/javascript" src="js/jquery.tabify.js"></script>
<script type="text/javascript" src="js/jquery.sudoSlider.js"></script>
<script type="text/javascript" src="js/jquery.validation.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
   <script type="text/javascript">
   jQuery(document).ready(function() {  
	// *************************************************************************************
	// Contact Form script
	// ************************************************************************************
	
	function validateMyAjaxInputs() {

		jQuery.validity.start();
		// Validator methods go here:
		jQuery("#name").require();
		jQuery("#email").require().match("email");
		jQuery("#subject").require();	
		jQuery("#captcha").require();

		// End the validation session:
		var result = jQuery.validity.end();
		return result.valid;
	}
	jQuery("#contact-form").submit(function () {  
							//alert(jquerymcolor.template_path);				
			if (validateMyAjaxInputs()) { //  procced only if form has been validated ok with validity 
				var str = jQuery(this).serialize(); 
				jQuery.ajax({
					type: "POST",
					url: "mailsend.php",
					data: str,
					success: function (msg) {
						jQuery("#formstatus").ajaxComplete(function (event, request, settings) { 
						if(msg === 'OK') {   jQuery('input[type=text]').val(""); jQuery('textarea').val(""); }
							if (msg == 'OK') { // Message Sent? Show the 'Thank You' message
								result = '<div class="successmsg">Your message has been sent. Thank you! </div>';
								//jQuery('#contact-form').clearForm();
							} else {
								result = msg;
							}
							jQuery(this).html(result);
						});
					}
		
				});
				return false;
			}
		});
	});
</script>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'/>
</head>
<body>
<div id="container">
    <!-- start container -->
    <div class="one_fourth">
        <div class="sidebar">
            <!-- start sidebar -->
            <h1 class="logo"><a href="index.html"><img src="images/logo.png" alt="logo" /></a></h1>
            <div class="sidebarmenu">
                <ul id="sidebarmenu1">
                    <li><a href="index.html">Home<span>The Frontpage</span></a></li>
                    <li><a href="about.html">About Us<span>A brief Description</span></a></li>
                    <li><a href="portfolio.html">Portfolio<span>Our Latest Projects.</span></a>
                        <ul>
                            <li><a href="portfolio_1.html">Portfolio 1</a></li>
                            <li><a href="portfolio_2.html">Portfolio 2</a></li>
                            <li><a href="portfolio_3.html">Portfolio 3</a></li>
                            <li><a href="portfolio_sort.html">Portfolio sort</a></li>
                        </ul>
                    </li>
                    <li><a href="gallery.html">Gallery<span>Project Showcase</span></a></li>
                    <li><a href="blog.html">Blogs<span>Where you can discuss</span></a></li>
                    <li><a href="contact.html" class="active">Contact Us <span>Get in Touch</span> </a></li>
                </ul>
            </div>
            <div id="social_icons">
                <h5>Connect With Us</h5>
                <ul>
                    <li><a href="#"><img src="images/rss-icon.png" alt="img"/></a></li>
                    <li><a href="#"><img src="images/flickr-icon.png" alt="img" /></a></li>
                    <li><a href="#"><img src="images/facebook-icon.png" alt="img" /></a></li>
                    <li><a href="#"><img src="images/twitter-icon.png" alt="img" /></a></li>
                </ul>
            </div>
            <form id="search_form"  method="get" action="">
                <fieldset>
                <input type="text" name="search" id="search"/>
                <a id="send_button" href="#">Go </a>
                </fieldset>
            </form>
            <p class="copy"> &copy; Copyright 2011-2012 denizen.com</p>
        </div>
        <!-- end sidebar -->
    </div>
     <!-- start content sectin -->
    <div class="three_fourth_last">
        <div class="content">
             <!-- Page Title -->
            <div class="pagetitle">
                <div class="sub_title">
                    <h2>Contact</h2>
                </div>
                <div class="pagetitle_description"><p>Here you can add your page title description, turpis eleifend placerat congue.</p></div>
            </div>
            <!-- Page Title end -->
            <div class="two_third">
          
        <div class="column3_2">
            <p> Please fill the form bellow and submit it, our Excutives will attend  your call as soon as possible. </p><br />
            <form action="javascript:void(0);"  id="contact-form">
                <p id="formstatus"></p>
                <div>
                    <label for="name">Your name: <span class="required">*</span></label>
                    <input type="text" value="" name="name" id="name" class="text" />
                </div>
                <div>
                    <label for="email">Your Email Adress: <span class="required">*</span></label>
                    <br />
                    <input type="text" value="" name="email" id="email" class="text" />
                </div>
                <div>
                    <label for="subject">Subject: <span class="required">*</span></label>
                    <br />
                    <input type="text" value="" name="subject" id="subject" class="text" />
                </div>
                <div>
                    <label for="message">Message: </label>
                    <br />
                    <textarea cols="25" rows="3" name="message" id="message"></textarea>
                </div>
                <div id="Captcha">
                    <label for="Captcha">Answer:9-5: </label>
                    <br />
                    <input type="text" name="captcha" id="captcha" />
                </div>
                <div>
                    <input type="submit" value="Submit" name="submit" id="kaya_submit" />
                    <br />
                </div>
            </form>
        </div>
                
                </div>
            <div class="one_third_last">
                <h3>Mailing Address</h3>
                <!-- Start Popular Posts -->
                <div class="widget-container">
                	<strong>Kayapati It Solutions Pvt Ltd</strong>.<br />
                       <strong>Flat No:</strong> 205, Emarald Building, <br />
                       Country: India - 500059 <br />
                        Your City name, your country 1111
                </div>
                <!-- End Popular Posts -->
                <div class="v_space"></div>
                <h3>Contact Info</h3>
                <!-- Start Tab Widget -->
                <div class="widget-container">
                Nothkela Road, Brkinton Villas<br />
                Emarald Building, Colorado East.<br />
                Phone: +33 4321 5678 <br />
                Fax: +33 4322 5678 <br />
                Email: <a href="mailto:suport@kayapati.com">suport@kayapati.com</a>
                </div>
                <!-- End Tab Widget -->
                <div class="v_space"></div>
                <h3>Flickr Images</h3>
                <!-- Start Flickr Images -->
                <div class="widget-container">
                    <div class="flickr_images"> <img src="images/tab_img_1.png" alt="img" class="img_border" /> <img src="images/tab_img_2.png" alt="img" class="img_border" /> <img src="images/tab_img_3.png" alt="img" class="img_border" /> <img src="images/tab_img_4.png" alt="img" class="img_border" /> <img src="images/tab_img_5.png" alt="img" class="img_border" /> <img src="images/tab_img_6.png" alt="img" class="img_border" /> <img src="images/tab_img_1.png" alt="img" class="img_border" /> <img src="images/tab_img_3.png" alt="img" class="img_border" /> <img src="images/tab_img_3.png" alt="img" class="img_border" /> </div>
                </div>
                <!-- End Flickr Images -->
            </div>
        </div>
        <!-- end content -->
    </div>
</div>
<!-- end container -->
</body>
</html>
