<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Denizen</title>
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<link href="css/slidemenu.css" rel="stylesheet" type="text/css" />
<link href="css/sudo_slider.css" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="js/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
<script type="text/javascript" src="js/jquery-1.6.4.js"></script>
<script type="text/javascript" src="js/jquery.tabify.js"></script>
<script type="text/javascript" src="js/jquery.sudoSlider.js"></script>
<script type="text/javascript" src="js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="js/fancybox_loader.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'/>
</head>
<body>
<div id="container">
    <!-- start container -->
    <div class="one_fourth">
        <div class="sidebar">
            <!-- start sidebar -->
            <h1 class="logo"><a href="index.html"><img src="images/logo.png" alt="logo" /></a></h1>
            <div class="sidebarmenu">
                <ul id="sidebarmenu1">
                    <li ><a href="index.html" class="active">Home<span>The Frontpage</span></a></li>
                    <li><a href="about.html">About Us<span>A brief Description</span></a></li>
                    <li><a href="portfolio.html">Portfolio<span>Our Latest Projects.</span></a>
                        <ul>
                            <li><a href="portfolio_1.html">Portfolio 1</a></li>
                            <li><a href="portfolio_2.html">Portfolio 2</a></li>
                            <li><a href="portfolio_3.html">Portfolio 3</a></li>
                            <li><a href="portfolio_sort.html">Portfolio sort</a></li>
                        </ul>
                    </li>
                    <li><a href="gallery.html">Gallery<span>Project Showcase</span></a></li>
                    <li><a href="blog.html">Blogs<span>Where you can discuss</span></a></li>
                    <li><a href="contact.html">Contact Us <span>Get in Touch</span> </a></li>
                </ul>
            </div>
            <div id="social_icons">
                <h3>Connect With Us</h3>
                <ul>
                    <li><a href="#"><img src="images/rss-icon.png" alt="img"/></a></li>
                    <li><a href="#"><img src="images/flickr-icon.png" alt="img" /></a></li>
                    <li><a href="#"><img src="images/facebook-icon.png" alt="img" /></a></li>
                    <li><a href="#"><img src="images/twitter-icon.png" alt="img" /></a></li>
                </ul>
            </div>
            <form id="search_form"  method="get" action="">
                <fieldset>
                <input type="text" name="search" id="search"/>
                <a id="send_button" href="#">Go </a>
                </fieldset>
            </form>
            <p class="copy"> &copy; Copyright 2011-2012 denizen.com</p>
        </div>
        <!-- end sidebar -->
    </div>
    <!-- start content section -->
    <div class="three_fourth_last">
        <div class="content">
        	<!-- Page Title -->
            <div class="pagetitle">                
                <div class="sub_title">
                    <h2>Home</h2>
                </div>
                <div class="pagetitle_description"><p>Welcome to DeniZen, a Clean HTML website template.</p></div>
            </div>
            <!-- Page Title end -->
                <div id="slider_wrapper">
                <div id="slider" >
                    <ul>
                        <li>
                           <img src="images/slider_img_1.png" alt="img" class="img_border"/></li>
                        <li>
                            <img src="images/slider_img_2.png" alt="img" class="img_border"/>
                                <div class="slider_text">
                                    <h3>Tellus in enim dignissim vitae pellentesque purus.</h3>
                                </div>                            
                        </li>
                        <li>
                             <img src="images/slider_img_3.png" alt="img" class="img_border"/>
                                <div class="slider_text">
                                    <h3>Quisque id tortor non tellus pellentesque.</h3>
                                    <p>Vestibulum suscipit tellus in enim dignissim vitae pellentesque purus varius. Sed rutrum imperdiet lacinia. Nullam sed ornare mauris.</p>
                                </div>
                        </li>
                                     
                        <li>
                            <div class="slider_inner_container">
                                <div class="text_container fullwidth"> <img src="images/slider_img_4.png" alt="img" class="thumb img_border" />
                                    <div class="description">
                                        <h1>We create a simple &amp; creative websites <br /> which bring <strong>BUSINESS</strong> for you, Guaranteed!</h1>
                                         <strong>Aenean tincidunt fermentum volutpat. Vestibulum ante ipsum primis in faucibus 
                                            orci luctus et ultrices posuere cubilia Curae; Mauris luctus volutpat massa nec luctus.</strong> 
                                            <p>Quisque id tortor non tellus pellentesque pretium volutpat in urna. Donec tristique 
                                            mauris eros, <a href="#">Hyperlink color</a> . Pellentesque euismod, tortor in accumsan ultrices, 
                                            felis dui faucibus tellus, eget suscipit odio orci a risus.</p>
                                            <br />
                                        <div class="readmore"><a href="#">Download More<span></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
             <!-- Frontpage Slider End -->
            <div class="v_space"></div>
            <div class="pagetitle_holder">
                <h5><span>DeniZen Template Features</span></h5>
            </div>
            <div class="one_fourth">
                <h4>Clean Design</h4>
                <img src="images/icon-leaf.png" alt="img" class="alignleft" />
                <p>Morbi tempor sem et lacus placerat at auctor diam ornarorbi tempor sem et lacus placerat at auctor diam ornare.</p>
            </div>
            <div class="one_fourth">
                <h4>Very Flexible</h4>
                <img src="images/icon-chemical.png" alt="img" class="alignleft" />
                <p>Morbi tempor sem et lacus placerat at auctor diam ornarorbi tempor sem et lacus placerat at auctor diam ornare.</p>
            </div>
            <div class="one_fourth">
                <h4>Easy to use</h4>
                <img src="images/icon-gear.png" alt="img" class="alignleft" />
                <p>Morbi tempor sem et lacus placerat at auctor diam ornarorbi tempor sem et lacus placerat at auctor diam ornare.</p>
            </div>
            <div class="one_fourth_last">
                <h4>Compatibility</h4>
                <img src="images/icon-globe.png" alt="img" class="alignleft" />
                <p>Morbi tempor sem et lacus placerat at auctor diam ornarorbi tempor sem et lacus placerat at auctor diam ornare.</p>
            </div>
            <div class="v_space"></div>
            <div class="pagetitle_holder">
                <h5><span>Recent Works</span></h5>
            </div>
            <div id="slider_2_container">
                <div id="slider_2">
                    <ul>
                        <li><a href="images/about_us_img.png" class="example2" title="Image Title"> <img src="images/slide_img_1.png" alt="img" class="img_border" /> </a></li>
                        <li><a href="images/blog_img_1.png" class="example2" title="Image Title"> <img src="images/slide_img_2.png" alt="img" class="img_border" /> </a></li>
                        <li><a href="images/blog_img_2.png" class="example2" title="Image Title"> <img src="images/slide_img_3.png" alt="img" class="img_border" /> </a></li>
                        <li><a href="images/blog_img_3.png" class="example2" title="Image Title"> <img src="images/slide_img_4.png" alt="img" class="img_border" /> </a></li>
                        <li><a href="images/blog_img_4.png" class="example2" title="Image Title"> <img src="images/slide_img_5.png" alt="img" class="img_border" /> </a></li>
                        <li><a href="images/slider_img_3.png" class="example2" title="Image Title"> <img src="images/slide_img_6.png" alt="img" class="img_border" /> </a></li>
                        <li><a href="images/slider_img_1.png" class="example2" title="Image Title"> <img src="images/slide_img_7.png" alt="img" class="img_border" /> </a></li>
                        <li><a href="images/slider_img_4.png" class="example2" title="Image Title"> <img src="images/slide_img_8.png" alt="img" class="img_border" /> </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end content -->
    </div>
</div>
<!-- end container -->
</body>
</html>