<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Denizen</title>
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<link href="css/slidemenu.css" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="js/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
<script type="text/javascript" src="js/jquery-1.6.4.js"></script>
<script type="text/javascript" src="js/jquery.sudoSlider.js"></script>
<script type="text/javascript" src="js/jquery.tabify.js"></script>
<script type="text/javascript" src="js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="js/fancybox_loader.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'/>
</head>
<body>
<div id="container">
    <!-- start container -->
    <div class="one_fourth">
        <div class="sidebar">
            <!-- start sidebar -->
            <h1 class="logo"><a href="index.html"><img src="images/logo.png" alt="logo" /></a></h1>
            <div class="sidebarmenu">
                <ul id="sidebarmenu1">
                    <li><a href="index.html">Home<span>The Frontpage</span></a></li>
                    <li><a href="about.html">About Us<span>A brief Description</span></a></li>
                    <li><a href="portfolio.html" class="active">Portfolio<span>Our Latest Projects.</span></a>
                        <ul>
                            <li><a href="portfolio_1.html">Portfolio 1</a></li>
                            <li><a href="portfolio_2.html">Portfolio 2</a></li>
                            <li><a href="portfolio_3.html">Portfolio 3</a></li>
                            <li><a href="portfolio_sort.html">Portfolio sort</a></li>
                        </ul>
                    </li>
                    <li><a href="gallery.html">Gallery<span>Project Showcase</span></a></li>
                    <li><a href="blog.html">Blogs<span>Where you can discuss</span></a></li>
                    <li><a href="contact.html">Contact Us <span>Get in Touch</span> </a></li>
                </ul>
            </div>
            <div id="social_icons">
                <h5>Connect With Us</h5>
                <ul>
                    <li><a href="#"><img src="images/rss-icon.png" alt="img"/></a></li>
                    <li><a href="#"><img src="images/flickr-icon.png" alt="img" /></a></li>
                    <li><a href="#"><img src="images/facebook-icon.png" alt="img" /></a></li>
                    <li><a href="#"><img src="images/twitter-icon.png" alt="img" /></a></li>
                </ul>
            </div>
            <form id="search_form"  method="get" action="">
                <fieldset>
                <input type="text" name="search" id="search"/>
                <a id="send_button" href="#">Go </a>
                </fieldset>
            </form>
            <p class="copy"> &copy; Copyright 2011-2012 denizen.com</p>
        </div>
        <!-- end sidebar -->
    </div>
    <!-- start content sectin -->
    <div class="three_fourth_last">
        <div class="content">
            <!-- Page Title -->
            <div class="pagetitle">
                <div class="sub_title">
                    <h2>Portfolio Layout 2</h2>
                </div>
                <div class="pagetitle_description"><p>Here you can add your page title description, turpis eleifend placerat congue.</p></div>
            </div>
            <!-- Page Title end -->
            <div class="one_half"> <a href="images/slider_img_3.png" class="example2" title="Image Title"> <img src="images/portfolio_2col_img_1.png" alt="img" class="img_border" /> </a>
                <h3><a href="#">Egestas magna</a></h3>
                <p>Morbi egestas magna pretium leo pharetra dapibus. 
                    Fusce vel interdum diam. Aenean tincidunt fermentum volutpat. 
                    Vestibulum ante primis volutpat massa nec luctus ipsum. Etiam ut erat id est 
                    adipiscing gravida a vitae sapien. Donec pulvinar, ligula quis eleifend condimentum, 
                    felis erat porta lorem, non cursus tellus nisl sit amet enim quis eleifend condimentum.</p>
                <div class="readmore"><a href="#">Read More<span></span></a></div>
            </div>
            <div class="one_half_last"> <a href="images/slider_img_3.png" class="example2" title="Image Title"> <img src="images/portfolio_2col_img_2.png" alt="img" class="img_border" /> </a>
                <h3><a href="#">Pretium leo</a></h3>
                <p>Luctus volutpat egestas magna pretium leo pharetra dapibus. 
                    Fusce vel interdum diam. Aenean tincidunt fermentum volutpat. 
                    Vestibulum ante ipsum primis nec luctus morbi.Pellentesque non 
                    felis in elit suscipit gravida sit amet a magna. Morbi elementum, 
                    turpis non viverra aliquam, eros urna dictum nisi, id porttitor 
                    nibh sem non eros. Quisque blandit neque consequat dui scelerisque aliquam.</p>
                <div class="readmore"><a href="#">Read More<span></span></a></div>
            </div>
            <div class="v_space"></div>
            <div class="one_half"><a href="images/slider_img_3.png" class="example2" title="Image Title">  <img src="images/portfolio_2col_img_3.png" alt="img" class="img_border" /> </a>
                <h3><a href="#">Blandit neque</a></h3>
                <p>Fusce vel volutpat egestas magna pretium leo pharetra dapibus. 
                    interdum diam. Aenean tincidunt fermentum volutpat. 
                    Vestibulum ante ipsum primis nec luctus morbi.Pellentesque non 
                    felis in elit suscipit gravida sit amet a magna. Morbi elementum, 
                    turpis non viverra aliquam, eros urna dictum nisi, id porttitor 
                    nibh sem non eros. Quisque blandit neque consequat dui scelerisque aliquam.</p>
                <div class="readmore"><a href="#">Read More<span></span></a></div>
            </div>
            <div class="one_half_last"> <a href="images/slider_img_3.png" class="example2" title="Image Title"> <img src="images/portfolio_2col_img_4.png" alt="img" class="img_border" /> </a>
                <h3><a href="#">Pretium leo</a></h3>
                <p>Quisque blandit volutpat egestas magna pretium leo pharetra dapibus. 
                    Fusce vel interdum diam. Aenean tincidunt fermentum volutpat. 
                    Vestibulum ante ipsum primis nec luctus morbi.Pellentesque non 
                    felis in elit suscipit gravida sit amet a magna. Morbi elementum, 
                    turpis non viverra aliquam, eros urna dictum nisi, id porttitor 
                    nibh sem non eros neque consequat dui scelerisque aliquam.</p>
                <div class="readmore"><a href="#">Read More<span></span></a></div>
            </div>
            <div class="v_space"></div>
            <div class="one_half"> <a href="images/slider_img_3.png" class="example2" title="Image Title"> <img src="images/portfolio_2col_img_5.png" alt="img" class="img_border" /> </a>
                <h3><a href="#">Gravida sit</a></h3>
                <p>Aenean tincidunt volutpat egestas magna pretium leo pharetra dapibus. 
                    Fusce vel interdum diam. fermentum volutpat. 
                    Vestibulum ante ipsum primis nec luctus morbi.Pellentesque non 
                    felis in elit suscipit gravida sit amet a magna. Morbi elementum, 
                    turpis non viverra aliquam, eros urna dictum nisi, id porttitor 
                    nibh sem non eros. Quisque blandit neque consequat dui scelerisque aliquam.</p>
                <div class="readmore"><a href="#">Read More<span></span></a></div>
            </div>
            <div class="one_half_last"> <a href="images/slider_img_3.png" class="example2" title="Image Title"> <img src="images/portfolio_2col_img_6.png" alt="img" class="img_border" /> </a>
                <h3><a href="#">Tincidunt fermentum</a></h3>
                <p>Scelerisque aliquam volutpat egestas magna pretium leo pharetra dapibus. 
                    Fusce vel interdum diam. Aenean tincidunt fermentum volutpat. 
                    Vestibulum ante ipsum primis nec luctus morbi.Pellentesque non 
                    felis in elit suscipit gravida sit amet a magna. Morbi elementum, 
                    turpis non viverra aliquam, eros urna dictum nisi, id porttitor 
                    nibh sem non eros. Quisque blandit neque consequat dui.</p>
                <div class="readmore"><a href="#">Read More<span></span></a></div>
            </div>
            <div class="v_space"></div>
        </div>
        <!-- end content -->
    </div>
</div>
<!-- end container -->
</body>
</html>
