<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Denizen</title>
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<link href="css/slidemenu.css" rel="stylesheet" type="text/css" />
<link href="css/quick_sand.css" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.6.4.js"></script>
<script type="text/javascript" src="js/jquery.sudoSlider.js"></script>
<script type="text/javascript" src="js/jquery.tabify.js"></script>
<script type="text/javascript" src="js/quick_sand.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'/>
</head>
<body>
<div id="container">
    <!-- start container -->
    <div class="one_fourth">
        <div class="sidebar">
            <!-- start sidebar -->
            <h1 class="logo"><a href="index.html"><img src="images/logo.png" alt="logo" /></a></h1>
            <div class="sidebarmenu">
                <ul id="sidebarmenu1">
                    <li><a href="index.html">Home<span>Morbi tempor sem et.</span></a></li>
                    <li><a href="about.html">About Us<span>Morbi tempor sem et.</span></a></li>
                    <li><a href="portfolio.html" class="active">Portfolio<span>Lacus placerat.</span></a>
                        <ul>
                            <li><a href="portfolio_1.html">Portfolio 1</a></li>
                            <li><a href="portfolio_2.html">Portfolio 2</a></li>
                            <li><a href="portfolio_3.html">Portfolio 3</a></li>
                            <li><a href="portfolio_sort.html">Portfolio sort</a></li>
                        </ul>
                    </li>
                    <li><a href="gallery.html">Gallery<span>Tempor sem et.</span></a></li>
                    <li><a href="blog.html">Blogs<span>Placerat at auctor.</span></a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
            <div id="social_icons">
                <h5>Connect With Us</h5>
                <ul>
                    <li><a href="#"><img src="images/rss-icon.png" alt="img"/></a></li>
                    <li><a href="#"><img src="images/flickr-icon.png" alt="img" /></a></li>
                    <li><a href="#"><img src="images/facebook-icon.png" alt="img" /></a></li>
                    <li><a href="#"><img src="images/twitter-icon.png" alt="img" /></a></li>
                </ul>
            </div>
            <form id="search_form"  method="get" action="">
                <fieldset>
                <input type="text" name="search" id="search"/>
                <a id="send_button" href="#">Go </a>
                </fieldset>
            </form>
            <p class="copy"> &copy; Copyright 2011-2012 denizen.com</p>
        </div>
        <!-- end sidebar -->
    </div>
    <!-- start content Section -->
    <div class="three_fourth_last">
        <div class="content">
            <!-- Page Title -->
            <div class="pagetitle">
                <div class="sub_title">
                    <h2>Filter Portfolio</h2>
                </div>
                <div class="pagetitle_description"><p>Here you can add your page title description, turpis eleifend placerat congue.</p></div>
            </div>
            <!-- Page Title end -->
            <ul class="splitter">
                <li>
                    <ul>
                        <li class="segment-1 selected-1"><a href="#" data-value="all">All</a></li>
                        <li class="segment-0"><a href="#" data-value="app">Animated</a></li>
                        <li class="segment-2"><a href="#" data-value="util">Images</a></li>
                    </ul>
                </li>
            </ul>
            <ul id="list" class="image-grid">
                <li data-id="id-1" class="util"> <img src="images/portfolio_4col_img_1.png" alt="img" class="img_border" />
                    <h3>Egestas magna</h3>
                    <p>Morbi egestas magna pretium leo pharetra dapibus. 
                        Fusce vel interdum diam. Aenean tincidunt fermentum volutpat. 
                        Vestibulum ante primis volutpat massa nec luctus ipsum.</p>
                    <div class="readmore"><a href="#">Read More<span></span></a></div>
                </li>
                <li data-id="id-2" class="app"> <img src="images/portfolio_4col_img_2.png" alt="img" class="img_border" />
                    <h3>Aenean tincidunt</h3>
                    <p>Vestibulum ante ipsum primis Morbi egestas magna pretium leo pharetra dapibus. 
                        posuere cubilia Curae Mauris luctus volutpat massa nec Egestas  aenean tincidunt.</p>
                    <div class="readmore"><a href="#">Read More<span></span></a></div>
                </li>
                <li data-id="id-3" class="app"> <img src="images/portfolio_4col_img_3.png" alt="img" class="img_border" />
                    <h3>Interdum diam</h3>
                    <p>Interdum diam morbi egestas magna pretium leo pharetra dapibus. 
                        Fusce vel. Aenean tincidunt fermentum volutpat. 
                        Vestibulum ante ipsum primis volutpat massa nec magna.</p>
                    <div class="readmore"><a href="#">Read More<span></span></a></div>
                </li>
                <li data-id="id-4" class="app"> <img src="images/portfolio_4col_img_4.png" alt="img" class="img_border" />
                    <h3>Pretium leo</h3>
                    <p>Luctus volutpat egestas magna pretium leo pharetra dapibus. 
                        Fusce vel interdum diam. Aenean tincidunt fermentum volutpat. 
                        Vestibulum ante ipsum primis nec luctus morbi.</p>
                    <div class="readmore"><a href="#">Read More<span></span></a></div>
                </li>
                <li data-id="id-5" class="app"> <img src="images/portfolio_4col_img_5.png" alt="img" class="img_border" />
                    <h3>Luctus volutpat</h3>
                    <p>Curae Mauris morbi egestas magna pretium leo pharetra dapibus. 
                        Fusce vel interdum diam. Aenean tincidunt fermentum volutpat. 
                        Vestibulum ante ipsum primis massa nec luctus.</p>
                    <div class="readmore"><a href="#">Read More<span></span></a></div>
                </li>
                <li data-id="id-6" class="app"> <img src="images/portfolio_4col_img_6.png" alt="img" class="img_border" />
                    <h3>Posuere cubilia</h3>
                    <p>Faucibus orci orbi egestas magna pretium leo pharetra dapibus. 
                        Fusce vel interdum diam. Aenean tincidunt fermentum volutpat. 
                        Vestibulum ante ipsum primis volutpat massa nec luctus et.</p>
                    <div class="readmore"><a href="#">Read More<span></span></a></div>
                </li>
                <li data-id="id-7" class="app"> <img src="images/portfolio_4col_img_7.png" alt="img" class="img_border" />
                    <h3>Tincidunt orbi</h3>
                    <p>Aenean tincidunt orbi egestas magna pretium leo pharetra dapibus. 
                        Fusce vel interdum diam.fermentum volutpat. 
                        Vestibulum ante ipsum primis volutpat massa nec luctus faucibus.</p>
                    <div class="readmore"><a href="#">Read More<span></span></a></div>
                </li>
                <li data-id="id-8" class="app"> <img src="images/portfolio_4col_img_8.png" alt="img" class="img_border" />
                    <h3>Risus neque</h3>
                    <p>Pharetra dapibus orbi egestas magna leo. 
                        Fusce vel interdum diam. Aenean tincidunt fermentum volutpat. 
                        Vestibulum ante ipsum primis in luctus volutpat massa nec luctus pretium.</p>
                    <div class="readmore"><a href="#">Read More<span></span></a></div>
                </li>
                <li data-id="id-9" class="app"> <img src="images/portfolio_4col_img_9.png" alt="img" class="img_border" />
                    <h3>Sed rutrum</h3>
                    <p>Cubilia morbi egestas magna pretium leo pharetra dapibus. 
                        Fusce vel interdum diam. Aenean tincidunt fermentum. 
                        Vestibulum ante ipsum primis massa nec luctus volutpat.</p>
                    <div class="readmore"><a href="#">Read More<span></span></a></div>
                </li>
                <li data-id="id-10" class="util"> <img src="images/portfolio_4col_img_10.png" alt="img" class="img_border" />
                    <h3>Imperdiet lacinia</h3>
                    <p>Nec luctus orbi egestas magna pretium leo pharetra dapibus. 
                        Fusce vel interdum diam. Aenean tincidunt fermentum volutpat. 
                        Vestibulum ante ipsum primis volutpat massa ultrices.</p>
                    <div class="readmore"><a href="#">Read More<span></span></a></div>
                </li>
                <li data-id="id-11" class="util"> <img src="images/portfolio_4col_img_11.png" alt="img" class="img_border" />
                    <h3>Nullam sed</h3>
                    <p>Morbi egestas magna pretium leo pharetra dapibus. 
                        Fusce vel interdum diam. Aenean tincidunt fermentum volutpat. 
                        Vestibulum ante ipsum primis luctus volutpat massa nec luctus faucibus.</p>
                    <div class="readmore"><a href="#">Read More<span></span></a></div>
                </li>
                <li data-id="id-12" class="util"> <img src="images/portfolio_4col_img_12.png" alt="img" class="img_border" />
                    <h3>Ornare mauris</h3>
                    <p>Trices  posuereMorbi egestas magna pretium leo pharetra dapibus. 
                        Fusce vel interdum diam. Aenean tincidunt fermentum volutpat. 
                        Vestibulum ante ipsum primis massa nec luctus volutpat.</p>
                    <div class="readmore"><a href="#">Read More<span></span></a></div>
                </li>
            </ul>
        </div>
        <!-- end content -->
    </div>
</div>
<!-- end container -->
</body>
</html>
