body{
font: 16px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
font-size: 12px;
color:#8b8b8b;
background-repeat:repeat;
width:100%;
background:url(images/bg.png) repeat #f9f9f9;
}


p, ul, ol, dl, table, fieldset, blockquote, pre, code {
}

/* headings
------------------------------------------------------*/
h1, h2, h3, h4, h5, #sidebarmenu1 a {
	font-family: 'PT Sans Narrow', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
color:#666666;
margin-bottom:10px;
}

h1 {
font-size: 30px;
}

h2 {
font-size: 25px;
}

h3 {
font-size: 22px;
}

h4 {
font-size: 18px;
}

h5 {
font-size: 16px;
}

h6 {
font-size: 11px;
}

hr {
border: 0 #ccc solid;
border-top-width: 1px;
clear: both;
height: 0;
}


hr{border: 1px solid #eee;  width: 100%;color: #eee;height: 1px;}


/* imgage alignment
----------------------------------------------------------------------------------------------------*/
.alignright {
float: right; 
margin: 3px 0 0px 10px;
width:auto;
}


.alignleft {
float: left; 
margin:0px  10px 0px 0;
width:auto;
}



.align{
float: left; 
margin: 0 10px 0px 0;
width:auto;
}

a img {
border:none;
}

a:link, a{
color:#ef5821;
text-decoration:none;
}

a:hover{
color:#333;
}

.one_fourth h3 a, one_fourth h3 a:visited,
.one_fourth_last h3 a, one_fourth_last h3 a:visited,
.one_third h3 a, .one_third h3 a:visited,
.one_third_last h3 a, .one_third_last h3 a:visited,
.one_half h3 a, .one_half h3 a:visited, .one_half_last h3 a, .one_half_last h3 a:visited,
.image-grid li h3 a, .image-grid li h3 a:visited

{
color:#666666;

}
.one_fourth h3 a:hover,
.one_fourth_last h3 a:hover,
.one_third h3 a:hover,
.one_third_last h3 a:hover,
.one_half h3 a:hover, .one_half_last h3 a:hover,
.image-grid li h3 a:hover
{
color:#222;

}




.v_space{
clear: both;
padding-top:20px;
overflow:hidden;
}

.img_border{
background:url(images/title-line.png);
padding:5px;
margin-bottom:10px;
}

.thumb_icon{
float: left;
}

.thumb {
float: left;
margin: 0px 20px 0px 0px;
}

.description {
display:block;
overflow: hidden;
padding:0px;
}


/*end common/genral style*/

/*Header start*/

.sidebar{
color:#fff;
min-height:800px;
height:100%;
position:fixed;
width:250px;
border-right:5px solid #1d1d1d;
background-color: #2c2c2c;
background-image:url(images/sidebar_bg.png);
background-repeat: no-repeat;
background-position: left 0px;

}



.logo{
padding:20px 20px 0px 20px;
}

.pagetitle{
background-color:#eee;
height:100%;
display:table;
width:100%;
margin-bottom:20px;

}

.sub_title{
margin-right:20px;
display:table;
width:90%;
}

.pagetitle h2{
padding:20px 30px 20px 20px;
height:auto;
color:#fff;
background-image: url(images/top_header_arrow.png);
background-color: #5b5b5b;
background-position:right  center;
background-repeat:no-repeat;
display:table-cell;
vertical-align:middle;
}
.pagetitle_description{
height:100%;
display:table-cell; 
vertical-align:middle;
text-align:left;
font-size:16px;
text-shadow:#fff 1px 1px 0px;
padding-right:20px;
width:auto;
}

.pagetitle_description p{
margin-left:20px;
}


.pagetitle_holder{
width:100%;
display:block;
text-align: right;
margin-bottom:20px;
border-bottom:3px solid #5b5b5b;

}
.pagetitle_holder h5{
margin:0px;
padding:0px;
letter-spacing:2px;

}
.pagetitle_holder span{
background:#5b5b5b;
background-repeat: repeat;
padding:5px 15px 5px 15px;
color:#fff;
display: inline-block;
font-size:13px;


}

#social_icons{
padding:25px 20px 25px 0px;
float:right;
text-align:right;
}

#social_icons h5{
color:#ccc;
letter-spacing:2px;}

#social_icons ul{
list-style:none;
display:inline;
}

#social_icons ul li{
display:inline;
margin-top:5px;
margin-bottom:5px;
float:right;
padding-left:10px;
}

.copy{
display: block;
clear:both;
padding:20px 0px 0px 25px;
color:#656565;
}

.drop_cap{
height:40px;
width:40px;
-moz-border-radius: 35px;
border-radius: 5px;
z-index:111;
behavior: url(PIE.htc);
border-radius: 35px;
background:#2c2c2c;
text-align:center;
line-height:40px;
color:#fff;
overflow:hidden;
display:block;
}



.widget-container{
width:205px;
padding:20px 20px 20px 20px;
background:#f4f4f4;
border:1px solid #eee;
border-bottom:2px solid #e7e7e7;
border-right:2px solid #e7e7e7;
overflow:hidden;

}

ul.blockquote_list{
list-style:none;
}

ul.blockquote_list li{
padding-bottom:10px;
margin-bottom:10px;
border-bottom:1px solid #d2d2d2;
}

.flickr_images img{
float:left;
margin-right:18px;
margin-bottom:18px;
}

.entry_date{
background:url(images/blog_post_img.png);
background-repeat:no-repeat;
background-position:right;
height:109px;
margin-bottom:15px;
color:#fff;
text-align:center;

}

.date,.year{
display: block;
font-size:15px;
text-align: center;
text-transform: uppercase;
padding-left:28px;
font-weight:bold;
}

.date{
line-height:60px;
color:#fff;
text-shadow:#414141 1px 1px 0px;
}

.date em{
color:#ccc;
text-shadow:#414141 1px 1px 0px;
}

.year{
font-size:30px;
font-weight: normal;
line-height:42px;
}

.meta_info{
text-align:right;
font-style:italic;
font-size:11px;
}

.meta_info a{
color:#435f87;
}

.meta_info span{
display:block;
}

span.comments{
background-image:url(images/icon_comment.png);
background-repeat:no-repeat;
background-position:right 3px;
padding-bottom:8px;
padding-right:25px;
display:block;
}

span.category{
background-repeat:no-repeat;
background-position:5px -3px;
padding-bottom:8px;
}

span.admin{
background-image:url(images/icon_admin.png);
background-repeat:no-repeat;
background-position:right 1px;
padding-bottom:8px;
padding-right:25px;
display:block;
}

span.tag{
background-image:url(images/icon_category.png);
background-repeat:no-repeat;
background-position:right 4px;
display:block;
padding-bottom:8px;
padding-right:25px;

}

.readmore {
font: normal 12px/18px Arial, Helvetica, sans-serif;
display: inline-block;
height:24px;
margin: 0 15px 0em 15px;
padding: 5px 20px 5px 5px;
position: relative;
text-decoration: none !important;
clear:both;
margin-top:10px;
display:block;
float:left;
line-height:24px;
padding-right:40px;
}
.readmore a, .readmore a:visited {
color:#ccc;
text-shadow:#414141 1px 1px 0px;
}

.readmore span {		
height:34px;
left: -15px;
position: absolute;
top: -10px;
width: 15px;
display:block;
}

.readmore  span{
margin-top:10px;
}

.readmore:hover { text-decoration: none; }

.readmore{
background-attachment: scroll;
background-image:url(images/read_more_button.png);
background-repeat: no-repeat;
background-position: right top;
cursor:pointer;
}

.readmore:hover { 
background-attachment: scroll;
background-image:url(images/read_more_button.png);
background-repeat: no-repeat;
background-position: right -34px;
}

.readmore span { 
background-attachment: scroll;
background-image:url(images/read_more_button.png);
background-repeat: no-repeat;
background-position: left top;
}
.readmore:hover span {
background-attachment: scroll;
background-image:url(images/read_more_button.png);
background-repeat: no-repeat;
background-position: left -34px;
}

#search_form {
	background: none repeat scroll 0 0 #2c2c2c;
	float: right;
	height: 27px;
	margin: 0 20px 0;
	position: relative;
	width: 185px;	
	border:1px solid #3c3c3c;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#search_form a {
background:url(images/magnifying_glass.png) no-repeat scroll 0 0 transparent;
display: block;
font-size: 0;
height: 13px;
line-height: 0;
position: absolute;
right: 12px;
top: 7px;
width:16px;
opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier */
}

#search_form a:hover {
background:url(images/magnifying_glass.png) no-repeat scroll 0 0 transparent;
display: block;
font-size: 0;
height: 13px;
line-height: 0;
position: absolute;
right: 12px;
top: 7px;
width:16px;
opacity:0.99;
filter:alpha(opacity=99); /* For IE8 and earlier */
}

a, .color1 {
color: #fff;
outline: medium none;
}

input#search {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
	font-weight: normal;
	vertical-align: middle;
	background-color:#212121;
	border:0px solid #444;
	height:27px;
	width: 135px;
	padding:0px 5px;
	color:#ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

}


.news_headline {
display: block;
font-weight: bold;
margin-top: 2px;
overflow: hidden;
}


.news_time {
clear: both;
display: block;
font-size: 10px;
font-weight: normal;
color: #999999;
}

ul.archives_list{
list-style:none;
}

ul.archives_list li{
padding-bottom:10px;
margin-bottom:10px;
border-bottom:1px solid #E1E0E0;
background-image:url(images/archives_button.png);
background-position:left 3px;
background-repeat:no-repeat;
padding-left:25px;
}

/* Contact page Section
----------------------------------------------------------------------------------------------------*/

#contact-form label{
clear:both;

}
label.error{
width:100%;
color:#FF0000;
}
.successmsg{
color:#009933;

}
#contact-form input{
	clear:both;
	display:block;
	padding:8px 10px;
	margin-bottom:20px;
	width:300px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	color:#666;
	margin-top:10px;
	border:1px solid #ddd;
	border-bottom:2px solid #ddd;
	border-right:2px solid #ddd;
	background-color:#f9f9f9;

}
#contact-form textarea{
	width:450px;
	height:100px;
	padding:8px 10px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	color:#666;
	margin-top:10px;
		border:1px solid #ddd;
	border-bottom:2px solid #ddd;
	border-right:2px solid #ddd;
	background-color:#f9f9f9;
	background: -moz-linear-gradient(center top , #F2F2F2 0%, #FFFFFF 100%) repeat scroll 0 0 ;
}
#contact-form input#captcha{
	width:20px!important;
}
#contact-form input#kaya_submit{
	width:50px!important;
	padding:10px 20px;
	background-color:#222!important;
	color:#ccc;
	display:block;
	border:1px solid #111;
	width:100px!important;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	border:1px solid #000;
	cursor:pointer;
	margin-top:20px;
}
#contact-form input#kaya_submit:hover{
	background-color:#333;

}

#Captcha{
margin-top:20px;
}
